[submodule "esmvaltool/diag_scripts/qualassess/auxiliary/libs/trend_framework"]
	path = esmvaltool/diag_scripts/qualassess/auxiliary/libs/trend_framework
	url = git@github.com:bascrezee/trend_framework.git
